@keyframes pulsate {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.skeleton-pulsate {
  animation: pulsate 0.75s infinite;
  border-radius: 4px; /* Adjust as needed */
}
