.Dashboard-Container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  gap: 20px;
}

.Networth-Profile-Container {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 20px;
}

.NetWorth-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.Profile-Container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Recent-Activity-Investments-Summary-Container {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 1em;
}

.Recent-Activity-Container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Investments-Summary-Container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
