.Dashboard-Container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  gap: 20px;
}

.Welcome-Container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.NetWorth-Container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Profile-Container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Recent-Activity-Container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Investment-Summary-Container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
