.ui.header {
  color: white !important;
}

.ui.form .field > label {
  color: white !important;
}

.ui.checkbox label {
  color: white !important;
}

.Login-Form {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.Remember-Forgot-Container {
  display: flex;
  justify-content: space-between;
}

.Login-Button-Container {
  display: flex;
  justify-content: center;
}

.No-Account-Container {
  color: white !important;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 30px;
}
