.Navbar-Container {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.Navbar {
  background-color: var(--primary-background-color);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.Navbar-Options {
  display: flex;
  flex-direction: column;
  background: none;
  width: 100%;
}

.Navbar-Options a {
  color: white !important;
  padding: 10px;
}

.Navbar-Options a:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.Navbar-Disabled {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
