.ui.header {
  color: white !important;
}

.ui.form .field > label {
  color: white !important;
}

.ui.checkbox label {
  color: white !important;
}

.ui.form input {
  border-radius: 2rem !important;
}

/* Login */

.Login-Form {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.Remember-Forgot-Container {
  display: flex;
  justify-content: space-between;
}

.Login-Button-Container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.No-Account-Container {
  color: white !important;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 30px;
}

/* Sign up */
.Signup-Grid-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.Signup-File-Input-Button {
  cursor: pointer;
  display: flex !important;
  width: 100%;
  align-items: center;
  background-color: white !important;
  border-radius: 2rem 0 0 2rem !important;
  height: 2.75rem;
  margin: 0 0 0 0 !important;
}

.Profile-Photo-Cancel-Button {
  background-color: white !important;
  border-radius: 0 2rem 2rem 0 !important;
  max-width: 20%;
}
