.Investments-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  gap: 1em;
}
.Investments-List-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  flex-grow: 0.3; /* Height = 3/10 of container */
}

.Investments-List-Rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 95%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--primary-border-radius);
}

.Investment-Display-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  flex-grow: 1; /* Height = rest of container */
}
