.Page-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 85%;
  max-width: 85%;
}

/* test */
.Navbar-Container-Container {
  min-width: 15%;
  max-width: 15%;
}

.Navbar-Page-Container {
  display: flex;
  height: 100vh;
  background-color: hsl(220, 13%, 18%);
}
