.Page-Style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.Navbar-Style {
  background-color: #282c34;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 5vh;
}

.Navbar-Page-Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
}
